@import "./variables.scss";
@import "./mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
}

body {
  background: #fff;
  background-image: url("./images/brushed-alum-dark.png");
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @include mQ(1200px) {
    padding: 32px;
  }

  @include mQ(720px) {
    padding: 16px;
  }
}

button {
  cursor: pointer;
}

@import "./components/Loader&NotFound.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/Auth.scss";
@import "./components/CreateNote.scss";
@import "./components/NoteList.scss";
@import "./components/Profile.scss";