.NotesList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  @include mQ(900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mQ(720px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mQ(500px) {
    display: block;
    padding: 0 5%;
  }

}

.Note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px 10px 46px;
  // 46 for delete icon to fit in
  position: relative;

  &:hover {
    box-shadow: 5px 5px 8px #555;
  }

  h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }

  p {
    font-size: 1.1em;
    white-space: pre-wrap;
    word-wrap: break-word;

    .view-more {
      color: #555;
    }
  }

  button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: $primaryColor;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
  }

  @include mQ(500px) {
    width: 100%;
    margin: 16px auto;

    h1,
    p {
      font-size: 1em;
    }
  }

}