* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
}

body {
  background: #fff;
  background-image: url("./images/brushed-alum-dark.png");
}

.container, header .headerContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container, header .headerContainer {
    padding: 32px;
  }
}
@media screen and (max-width: 720px) {
  .container, header .headerContainer {
    padding: 16px;
  }
}

button {
  cursor: pointer;
}

.loaderDiv {
  position: fixed;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  left: 50%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NotFound {
  text-align: center;
}
.NotFound h1 {
  color: #f00;
  margin: 100px 0;
  font-size: 100px;
  font-weight: 900;
  font-family: Courier, monospace;
}
@media screen and (max-width: 900px) {
  .NotFound h1 {
    font-size: 50px;
  }
}
.NotFound button {
  background: #1a1a1a;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 7px;
  border-radius: 5px;
  border: 2px solid #fff;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}
.NotFound button:hover {
  background: #333333;
  -webkit-box-shadow: 0 0 15px #000;
          box-shadow: 0 0 15px #000;
}

header {
  background-color: #000;
  background-image: url("./images/clean-textile.png");
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
header .headerContainer {
  padding: 16px 32px;
  position: relative;
  margin: 0 auto;
}
header .headerContainer h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  line-height: 50px;
  font-size: 50px;
}
header .headerContainer .auth-btn {
  position: absolute;
  top: 11px;
  right: 27px;
  font-family: "Courier New", Courier, monospace;
  background: #ddd;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 2px;
  padding: 5px;
  margin: 13px 10px 0;
  border: 2px solid #fff;
  border-radius: 5px;
}
header .headerContainer .auth-btn:hover {
  background: #000;
  color: #fff;
}
header .headerContainer .my-notes, header .headerContainer .profile-photo {
  position: absolute;
  top: 11px;
  right: 27px;
  display: inline-block;
  background-size: contain;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
header .headerContainer .profile-photo {
  background-color: #ddd;
  border: 3px solid #C0C0C0;
}
@media screen and (max-width: 500px) {
  header .headerContainer {
    padding: 10px 14px;
  }
  header .headerContainer h1 {
    line-height: 50px;
    font-size: 34px;
  }
  header .headerContainer .profile-photo,
header .headerContainer .my-notes {
    top: 10px;
    right: 14px;
    width: 50px;
    height: 50px;
  }
  header .headerContainer .auth-btn {
    top: 10px;
    right: 14px;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: normal;
    padding: 2px 5px;
    margin: 12px 0;
    border: 2px solid #fff;
  }
}

.foot-fixed-extra {
  height: 50px;
}

footer {
  height: 2.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
footer p {
  color: #000;
  font-weight: 900;
}

.Auth {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}
.Auth h1 {
  margin: 50px auto 20px;
}
.Auth form input {
  font-size: 1.2em;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 500px) {
  .Auth form input {
    font-size: 1em;
  }
}
.Auth form button {
  padding: 5px 10px;
  margin: 20px 0 0;
  color: #000;
  background: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
}
.Auth form button:hover {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}
.Auth form button:disabled {
  background: #ddd;
}
.Auth hr {
  width: 60%;
  border: 1px solid #aaa;
  margin: 30px auto;
}
.Auth .GoogleAuth {
  margin: auto;
  text-decoration: none;
}
.Auth .GoogleAuth button {
  width: 100%;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #00f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: 700;
  color: #00f;
}
@media screen and (max-width: 500px) {
  .Auth .GoogleAuth button {
    padding: 8px;
  }
}
.Auth .GoogleAuth button span {
  height: 30px;
}
.Auth .GoogleAuth button span img {
  width: 30px;
}
.Auth .GoogleAuth button:hover {
  -webkit-box-shadow: 0 0 15px #1669F2;
          box-shadow: 0 0 15px #1669F2;
}
.Auth .GoogleAuth button:active {
  background: #eee;
}

.CreateNote form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 5px #8a8989;
          box-shadow: 0 1px 5px #8a8989;
}
@media screen and (max-width: 720px) {
  .CreateNote form.create-note {
    width: 90%;
  }
}
.CreateNote form.create-note input,
.CreateNote form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.CreateNote form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.CreateNote form.create-note button:hover {
  color: white;
}

.NotesList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
@media screen and (max-width: 900px) {
  .NotesList {
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 720px) {
  .NotesList {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .NotesList {
    display: block;
    padding: 0 5%;
  }
}

.Note {
  background: #fff;
  border-radius: 7px;
  -webkit-box-shadow: 0 2px 5px #ccc;
          box-shadow: 0 2px 5px #ccc;
  padding: 10px 10px 46px;
  position: relative;
}
.Note:hover {
  -webkit-box-shadow: 5px 5px 8px #555;
          box-shadow: 5px 5px 8px #555;
}
.Note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.Note p {
  font-size: 1.1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.Note p .view-more {
  color: #555;
}
.Note button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #000;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 500px) {
  .Note {
    width: 100%;
    margin: 16px auto;
  }
  .Note h1,
.Note p {
    font-size: 1em;
  }
}

.Profile {
  text-align: center;
}
.Profile h1 {
  margin: 20px 0;
}
.Profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #0f0;
  margin: 50px 0 20px;
}
@media screen and (max-width: 500px) {
  .Profile img {
    margin: 20px;
  }
}
.Profile p {
  margin: 10px;
  font-size: 20px;
}
.Profile button.logout {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #000;
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
  margin: 50px auto;
}
.Profile button.logout:hover {
  -webkit-box-shadow: 0 0 15px #000;
          box-shadow: 0 0 15px #000;
  background: #ddd;
}