* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
}

body {
  background: #eee;
  background-image: url("./images/brushed-alum-dark.png");
  padding: 0 16px;
}

.loaderDiv, .error {
  position: fixed;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  left: 50%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error {
  color: red;
  font-weight: 900;
  font-size: 20px;
}
@media screen and (max-width: 720px) {
  .error {
    width: 600px;
    margin-left: -300px;
  }
}

.NotFound {
  text-align: center;
}
.NotFound h1 {
  margin: 100px 0;
  font-size: 100px;
  font-weight: 900;
  font-family: Courier, monospace;
}
@media screen and (max-width: 900px) {
  .NotFound h1 {
    font-size: 50px;
  }
}
.NotFound button {
  background: #1a1a1a;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 7px;
  border-radius: 5px;
  border: 5px solid #fff;
}
.NotFound button:hover {
  background: #333333;
  border: 2px solid #fff;
  padding: 10px;
}

header {
  background-color: #000;
  background-image: url("./images/clean-textile.png");
  margin: auto -16px;
  padding: 16px 32px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  position: relative;
}
header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  line-height: 50px;
}
header .my-notes, header .profile-photo {
  display: inline-block;
  background-size: contain;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 16px;
  right: 32px;
}
header .profile-photo {
  background-color: #ddd;
  border: 4px solid #0f0;
}
@media screen and (max-width: 500px) {
  header {
    padding: 10px 14px;
  }
  header .profile-photo {
    top: 12.5px;
    right: 16.5px;
    width: 45px;
    height: 45px;
  }
}

.foot-fixed-extra {
  height: 50px;
}

footer {
  height: 2.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
footer p {
  color: #000;
  font-weight: 900;
}

.note-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 720px) {
  .note-container {
    display: block;
    padding: 0 5%;
  }
}

.Note {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: #fff;
  border-radius: 7px;
  -webkit-box-shadow: 0 2px 5px #ccc;
          box-shadow: 0 2px 5px #ccc;
  padding: 10px 10px 46px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 280px;
          flex: 1 1 280px;
  margin: 16px;
  position: relative;
  min-width: 280px;
}
.Note:hover {
  -webkit-box-shadow: 5px 5px 8px #555;
          box-shadow: 5px 5px 8px #555;
}
.Note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.Note p {
  font-size: 1.1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.Note p .view-more {
  color: #555;
}
.Note button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #000;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 720px) {
  .Note {
    min-width: 100px;
    width: 100%;
    margin: 16px auto;
  }
  .Note h1,
.Note p {
    font-size: 1em;
  }
}

.CreateNote form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 5px #8a8989;
          box-shadow: 0 1px 5px #8a8989;
}
@media screen and (max-width: 720px) {
  .CreateNote form.create-note {
    width: 90%;
  }
}
.CreateNote form.create-note input,
.CreateNote form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.CreateNote form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.CreateNote form.create-note button:hover {
  color: white;
}